@import 'partials/colors';
@import 'partials/headings';
@import 'partials/error_padding';

.flash {
  background: #f66422;
  color: white;
  width: 200px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 1em;
  display: none;  /* hide be default */
}